.aboutme{
    padding-top: 30px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    padding-bottom: 30px;
    background-color:#3b3e41;
    border-radius: 20px;
}

.aboutme-tittle{
    font-size: 28px;
    color: coral;
    margin-bottom: 20px;
}

.aboutme-logo{
    background: none;   
    width: 120px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.aboutme-components{
    background: none;   
}

.aboutme-text{
    font-size: 16.5;
    background: none;   
}
.skills-tittle{
    color: antiquewhite;
    font-size: 15px;
}

.skills{
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.skill-img{
    background-color: transparent;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
}