.aboutme{
    padding-top: 3vh;
    text-align: center;
    width: 50vw;
    margin-left: 25%;
    margin-top: 50px;
    padding-bottom: 30px;
    background-color: #32353d;
    border: 1px solid rgb(110, 76, 63);
    border-radius: 20px;
}

@media (max-width:900px){
    .aboutme{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
  }

.aboutme-logo{
    background: none;   
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.aboutme-components{
    background: none;   
}

.aboutme-text{
    font-size: 1.65vh;
    background: none;   
    text-align: left;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
.skills-main{
    background-color: #32353d;
}
@media (max-width:1300px){
    .aboutme-text{
        margin-left: 10%;
        margin-right: 10%; 
    }
  }

.skills-tittle{
    color: antiquewhite;
    font-size: 1.5vh;
}

.skills{
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.skill-img{
    background-color: transparent;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0.5vh;
    width: 1.5vh;
}