#tiitle{
    font-size: 3.5vh;
    margin-bottom: 30px;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: rgb(39, 37, 37);
}

.name-aboutme{
    font-family: 'Courier New', Courier, monospace;
    font-size: 4.1vh;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: rgb(39, 37, 37);
    font-weight: 600;
    color: coral;
    margin-bottom: 20px;
    margin-bottom: 3vh;
    margin-top: 4vh;
    white-space: nowrap;
}

#text{
    font-size: 1.8vh;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(39, 37, 37);
    color: azure;   
}

.aboutme{
    padding-top: 3vh;
    text-align: center;
    width: 50vw;
    margin-left: 25%;
    margin-top: 50px;
    padding-bottom: 30px;
    background-color:#3b3e41;
    border-radius: 20px;
}

@media (max-width:900px){
    .aboutme{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
  }

.aboutme-tittle{
    font-size: 2.5vh;
    color: coral;
    margin-bottom: 3vh;
}

.aboutme-logo{
    background: none;   
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.aboutme-components{
    background: none;   
}

.aboutme-text{
    font-size: 1.7vh;
    background: none;   
}
.skills-tittle{
    color: antiquewhite;
    font-size: 1.5vh;
}

.skills{
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.skill-img{
    background-color: transparent;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0.5vh;
    width: 1.5vh;
}