.contact{
    padding-top: 3vh;
    padding-bottom: 30px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    background-color: #32353d;
    border: 1px solid rgb(110, 76, 63);
    border-radius: 20px;
}

@media (max-width:900px){
    .contact{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
  }

.contact-text{
    background: none;   
}

.media{
    margin-top: 1.3vh;
    margin-left: 5%;
    display: flex;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
}

.media-t{
    margin-left: 8px;
    background-color: transparent;
}

.media-text{
    background-color: transparent;
    position: relative;
    top: 7px;
    font-size: 2vh;
    text-align: center;  
}

.media-img{
    background-color: transparent; 
}
.discord{
    color: #788dd8 
}

.telegram{
    text-decoration: none;
    color: #80cbd8 
}
.telegram:hover{
    color: rgb(216, 199, 144); 
}
.github{
    text-decoration: none;
    color: rgb(196, 189, 189);
}

.github:hover{
    color: rgb(216, 199, 144); 
}
