*{
    background-color: #36393e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 0px;
}

p{
    background: none;
    line-height: 15px;
}

b{
    background: none;  
}

img{
    background-color: transparent;
}

span{
    background: none;    
}

/*nav*/

.nav{
    z-index: 10;
    background-color: transparent;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.nav-cont {
    display: flex;
    background-color: transparent;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    background-color: transparent
  }

  .nav-item {
    background-color: transparent;
    padding: 1em;
  }
  .nav-style{
    text-decoration: none;
    background-color: transparent;
  }

  .nav-style:hover{
    font-weight: 600;
    color: coral;
  }

/*start view*/
.image{
    filter: blur(4px);
    -webkit-filter: blur(5px);
}

.startview{
    position: absolute;
    height: 100px;
    text-align: center;
    width: 100%;
    top: 23%;
    background: none;
    font-size: 40px;
}

#tiitle{
    font-size: 33px;
    margin-bottom: 30px;
}

.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 37px;
    font-weight: 600;
    color: coral;
    margin-bottom: 20px;
}

#text{
    font-size: 15px;
    color: azure;   
}

.back2{
    position: relative;
    width: 100%;
    background-color: #36393e;
}

.footer{
    margin-left: 0px;
    margin-top: 30px;
    text-align: center;
    position: relative;
    bottom: 0px;
    background-color: rgb(34, 36, 36);
    color: gray;
    width: 100%;
    height: 20px;
}
