.myprojects{
    padding-top: 30px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    padding-bottom: 40px;
    background-color:#3b3e41;
    border-radius: 20px;
}

.myprojects-tittle{
    font-size: 28px;
    color: coral;
    margin-bottom: 50px;   
}

.projects-logo{
    background: none;   
    margin: auto;
    display: block;
    margin-bottom: 20px;
    width: 90px;
}

.projects{
    background: transparent;
    margin-bottom: 25px;
}

.project-tittle{
    color: beige;
    font-size: 26px;
}
.project-desc{
    font-size: 16.4px;
}

.project-image-tittle{
    color: beige;
    font-size: 15px;
}

.project-images{
    display: block;
    justify-content: center;
    background-color: transparent;
}

.project-img{
    background-color: transparent;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.button-more{
    background-color: transparent;
}

.more{
    font-size: 20px;
    text-decoration: none;
    color: coral;
    background-color: transparent;
}

.more:hover{
    font-weight: 600;
    color: rgb(221, 158, 22);
}

.project{
    border-bottom: 2px solid;
    padding: 35px;
    border-color: gray;
    margin-left: 7px;
    margin-right: 7px;
    -webkit-filter: grayscale(65%); 
    filter: grayscale(65%);
    background-color: rgb(82, 87, 85);
    padding-bottom: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.project:hover{
    -webkit-filter: grayscale(10%); 
    filter: grayscale(0%);   
    background-color: rgb(100, 98, 98);
    border-color: coral;
}
.all-projects{
    background-color: transparent;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.project-text{
    text-decoration: none;
}
