.project-logo-start{
    width: 100px;
    height: 100px;
}
.project-text-tittle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2vh;
    margin-top: 3vh;
}

.click-button{
    font-weight: bold;
    text-decoration: none;
    color: rgb(211, 145, 60);
    background-color: transparent;
}
.click-button:hover{
    text-decoration: none;
    color: rgb(204, 207, 13);
}

.image-tittle{
    font-size: 18px;
    color: rgb(227, 197, 231);
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.image-project-intext{
    width: 35vw;
}
